html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

  #bloque{
    border-radius: 15px;
    background-color: #222222;
    padding-left: 285px;
    padding-top: 20px !important;
    height: 30em;
  }

  #contenedor{
    padding: 4em;
  }