html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
  }

  #bloque{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #222222;
    padding-left: 285px;
    padding-top: 20px !important;
    height: 30em;
  }

  #contenedor{
    padding: 4em;
  }

  .texto{
    background-color: #222222;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 30px;
  }
  
  p{
    color: azure;
  }